<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.jianglei.girlshow">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
            android:name="com.jianglei.girlshow.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:testOnly="false"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jianglei.girlshow.appfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name="com.jianglei.girlshow.RuleHelpActivity">
        </activity>
        <activity android:name="com.jianglei.girlshow.SiteRuleListActivity">
        </activity>
        <activity android:name="com.jianglei.girlshow.SiteRuleEditActivity">
        </activity>
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.jianglei.girlshow.PhotoViewActivity">
        </activity>
        <activity android:name="com.jianglei.girlshow.PlayContentListActivity">
        </activity>
        <activity android:name="com.jianglei.girlshow.BaseActivity">
        </activity>
        <activity android:name="com.jianglei.girlshow.ContentActivity">
        </activity>
        <activity android:name="com.jianglei.girlshow.PictureDetailListActivity">
        </activity>
        <activity android:name="com.jianglei.girlshow.AllWebsiteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.jianglei.girlshow.CategoryActivity">
        </activity>
        <activity android:name="com.jianglei.girlshow.SearchActivity">
        </activity>
        <activity android:name="com.jianglei.girlshow.SearchResultActivity">
        </activity>
    </application>

</manifest>